h1{
  font-size: 100px;
  font-family: candara;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;

}

ul{
  font-size: 40px;
  font-family: candara;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
}
a:link {
  color: white;
}
a:visited{
  color: #148F77;
}
body{
  background-image: linear-gradient(to bottom right, yellow, red);
}
