*{
  box-sizing: border-box;
}
body{
  margin:0;
}
header{
  width: 100%
  height: 600px;
  display: flow-root;
  background-color: black;
  margin: 0;
}
main {
}
h1{
  font-family: helvetica;
  font-weight: normal;
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 3vw;
}
h2{
  font-family: helvetica;
  font-weight: normal;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-bottom: 5vw;
}
h3{
  font-family: helvetica;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 5vw;
}
h4{
  font-family: helvetica;
  font-weight: normal;
  font-size: 20px;
  color: black;
  text-align: center;
}
p{
  font-family: helvetica;
  font-weight: normal;
  font-size: 12px;
  width: 100%;
  display: flow-root;
  line-height: 1.8;
  padding-left: 30vw;
  padding-right: 30vw;
}
.text {
  padding-left: 3vw;
  padding-right: 3vw;
}
