*{
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}
main {
  width 100%;
  margin: 0;
  display:: flow-root;
  float: left;
  }
}
header {
width: 100%;
display: flow-root;
margin: 10px 0 0 0;
}
.title h1 {
  font-family: gioviale, sans-serif;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #2E939D;
  font-size: 100px;
  display: flow-root;
  width: 100%;
  margin: 0;
  float: Left;
  /* background-color: red; */
}
@media screen and (max-width: 600px){
.title h1 { font-size: 60px;
}
}
.logo img {
  width:  65px;
  display:: flow-root;
  margin: 10px 10px 0 0;
  padding-left: 20px;
  float: left;
}
nav {
  margin-right: 10px;
  display:: flow-root;
  float: right;
}
ul {
  font-family: helvetica;
  font-size: 12px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}
a:link {
  color: black;
  font-family: helvetica;
  font-size: 12px;
  text-decoration: none;
}
a:visited {
  color: gray;
  font-family: helvetica;
  font-size: 16px;
  text-decoration: none;
}
li {
  float:left;
  margin-left: 25px;
}
.homephoto img {
  width: 100%;
  margin: 0;
  display: flowroot;
  overflow-x: hidden;
}
.para {
  width: 100%;
  display:: flow-root;
  margin: 30px 0 30px;
  font-family: helvetica;
  font-size: 16px;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 50px;
  float: left;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #2E939D;
  padding-top: 20px;
  margin: 0;
  font-family: helvetica;
  font-size: 16px;
  text-align: center;
  display:: flow-root;
  float: left;
  overflow-x: hidden;
}
