*{
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
h1 {
  font-family: gioviale, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #2E939D;
  font-size: 60px;
}
h2{
  font-family: gioviale, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  font-size: 32px;
}
a:link {
  color: black;
  font-family: helvetica;
  font-size: 16px;
}
a:visited {
  color: gray;
  font-family: helvetica;
  font-size: 16px;
}
p {
  font-family: helvetica;
  font-size: 16px;
}
footer {
  font-family: helvetica;
  font-size: 16px;
}
.logo {
  margin-left: 20px;
  margin-top: 20px;
}
ul {
  font-family: helvetica;
  font-size: 16px;
}
.homephoto{
  width: auto;
  height: auto;
}
nav ul {
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}
nav li {
  float: right;
  margin: 0 100
